/** CSS STYLE **/
body {
  box-sizing: borber-box;

  margin: 0;

  padding: 0;

  color: #303846;

  font-size: 16px;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

.ul-unstyled {
  list-style: none;
}

.unbordered {
  border: none;
}

a {
  color: #303846;
  text-decoration: none;
}

.block-container {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.block-side-content {
  width: 45%;
}

.block-side-img {
  width: 30%;
}

.btn {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
}

.btn-white {
  color: white;

  font-weight: bold;
  font-size: 1em;

  border: solid 1px white;
  border-radius: 10px;
}

.btn-colored {
  color: #09d3ac;

  font-weight: bold;
  font-size: 1em;

  border: solid 2px #09d3ac;
  border-radius: 10px;
}

.text-color-white {
  color: white;
}

.flex-row {
  display: flex;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.img-40to40 {
  width: 40px;

  height: 40px;
}

.img-200to200 {
  width: 200px;

  height: 200px;
}

.menu-item-margin {
  margin-right: 20px;
}

.section-container {
  width: 100vw;
  margin: 0 auto;
}

.section-background-color {
  background-color: #f7f7f7;
}

.section-background-img {
  background: url("../img/banner.png");
  background-position: center;
  background-size: cover;
}

.text-bold {
  font-weight: bold;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.header-substrate-block {
  padding: 30px;
}

.header-style {
  box-sizing: border-box;

  height: 60px;
  padding: 5px 20px 5px 20px;

  font-size: 0.85em;

  background-color: white;
}

.header-fixed {

  position: fixed;
  top: 0;
  left: 0;
}

.logo-name-style {
  font-size: 1rem;
}

.logo-name-box {
  margin: auto;
  padding: 10px;
}

.strength-block {
  width: 30%;

  margin: 20px;
}

.form-text-style {
  color: #09d3ac;
  font-weight: bold;
}

.form-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-brd-radius {
  background-color: white;

  border-color: #f7f7f7;
  border-radius: 5px;

  outline: none;
}

.form-brd-color-thick {
  border: solid 2px #09d3ac;
}

.footer-bg-color {
  background-color: #303846;
}

.footer-columnheader-style {
  font-weight: bold;
  font-size: 1.25em;
}

.footer-text-style {
  font-size: 0.8em;
}
