/** CSS STYLE **/
body {
  box-sizing: borber-box;

  color: #303846;

  font-size: 16px;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

ul {
  list-style: none;
}

a {
  color: #303846;
  text-decoration: none;
}

li {
  margin: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 5px 20px 5px 20px;

  font-size: 0.85em;

  border-bottom: solid 1px black;
}

.logo {
  display: flex;
  align-content: center;
}

.logo-img {
  width: 40px;

  height: 40px;
}

.logo-name {
  margin: auto;
  padding: 10px;

  font-size: 1rem;
}

.nav {
  display: flex;
}
