/** CSS STYLE **/
body {

  box-sizing: borber-box;

  color: #303846;

  font-size: 16px;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 3em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;

  font-size: 1.8em;
}

ul {
  margin-right: 30px;

  list-style: none;
}

a {
  color: #303846;
  text-decoration: none;
}

li {
  margin: 5px;
}

.header {

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  width: 100%;

  height: 60px;
  padding: 5px 20px 5px 20px;

  font-size: 0.85em;

  background-color: white;
}

.logo {
  display: flex;
  align-content: center;
}

.logo-img {
  width: 40px;

  height: 40px;
}

.logo-name {
  margin: auto;
  padding: 10px;

  font-size: 1rem;
}

.nav {
  display: flex;
}

.block1 {
  box-sizing: border-box;
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;

  color: white;

  background: url("../img/banner.png");
  background-position: center;
  background-size: cover;
}

.block1 img {
  width: 200px;
  height: 200px;
}

.content-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin: auto;
}

.content-conteiner p {
  margin-top: 20px;
}

.block1-btn {
  margin-top: 20px;
  padding: 10px;

  font-weight: bold;
  font-size: 1em;

  border: solid 1px white;
  border-radius: 10px;
}
